default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  # username: wiltonsouza
  # password: postgres

development:
  <<: *default
  database: rails_blog_api_development

test:
  <<: *default
  database: rails_blog_api_test

production:
  <<: *default
  database: rails_blog_api_production
  username: rails_blog_api
  password: <%= ENV['RAILS_BLOG_API_DATABASE_PASSWORD'] %>
